/* ==========================================================================
   Mixins
   ========================================================================== */

/* 1. Font smoothing
========================================================================== */
/* Better font-rendering on OSX
   https://maximilianhoffmann.com/posts/better-font-rendering-on-osx
*/
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

/* 3. Modifiers
========================================================================== */
@mixin font-weight-modifiers {
    @each $name, $val in $theme-weights {
        &-#{$name} {
            font-weight: $val;
        }
    }
}

/* 3. Bootstrap mixins
========================================================================== */
@mixin form-validation-state($state, $color, $bg-color) {
    .form-control {
        .was-validated &:#{$state},
        &.is-#{$state} {
            border-color: $color;
            background-color: $bg-color;

            &:focus {
                border-color: $color;
                background-color: $bg-color;
                box-shadow: none;
            }
        }
    }

    select.form-control {
        .was-validated &:#{$state},
        &.is-#{$state} {
            background-image: linear-gradient(45deg, transparent 50%, $color 50%),
            linear-gradient(135deg, $color 50%, transparent 50%);

            &:focus {
                background-image: linear-gradient(45deg, transparent 50%, $color 50%),
                linear-gradient(135deg, $color 50%, transparent 50%);
            }
        }
    }
}

// It doesn't work in any other place
@each $state, $data in $form-validation-states {
    @include form-validation-state($state, map-get($data, color), map-get($data, bg-color));
}
