/* ==========================================================================
   Variables
   ========================================================================== */

// fonts
$font-family-base: 'Montserrat', sans-serif;
$body-color: #222;

// font weight
$font-weights: (
    'medium': 400,
    'semibold': 600,
    'bold': 700
);
