/* ==========================================================================
   Forms
   ========================================================================== */

// Forms
//
// Styleguide 3

// Inputs
//
// Styleguide 3.1

// Text input
//
// default - default state
// .is-invalid - validation failed state
//
// markup:
// <div class="form-group">
//     <label for="exampleFormControlInput1">Label</label>
//     <input type="email" class="form-control {$modifiers}" id="exampleFormControlInput1" placeholder="Placeholder">
//     <div class="invalid-feedback">
//         Helper message
//     </div>
// </div>
// <div class="form-group">
//     <label for="exampleFormControlInput1">Label</label>
//     <input type="text" class="form-control {$modifiers}" id="exampleFormControlInput1" placeholder="Placeholder" value="Lorem ipsum">
//     <div class="invalid-feedback">
//         Helper message
//     </div>
// </div>
// <div class="form-group">
//     <label for="exampleFormControlInput1">Label</label>
//     <input type="password" class="form-control {$modifiers}" id="exampleFormControlInput1" placeholder="Placeholder" value="Lorem ipsum">
//     <div class="invalid-feedback">
//         Helper message
//     </div>
// </div>
//
// Styleguide 3.1.1

.form-group label {
    font-size: 14px;
    font-weight: theme-weight('bold');
    line-height: 18px;
}

.form-control {
    &:not(.is-invalid):hover {
        color: $input-focus-color;
        border-color: $input-focus-border-color;
        background-color: $input-focus-bg;
    }
    &.is-invalid:focus {
        box-shadow: none;
    }
}

.invalid-feedback {
    font-weight: theme-weight('semibold');
}

// Textarea
//
// default - default state
// .is-invalid - validation failed state
//
// markup:
// <div class="form-group">
//     <label for="exampleFormControlTextarea1">Label</label>
//     <textarea class="form-control {$modifiers}" id="exampleFormControlTextarea1" rows="3"></textarea>
// </div>
// <div class="form-group">
//     <label for="exampleFormControlTextarea1">Label</label>
//     <textarea class="form-control {$modifiers}" id="exampleFormControlTextarea1" rows="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis est sed ex porttitor bibendum et a arcu. Aenean a urna magna. Nullam tristique, sem quis malesuada ultricies, nisl sem dapibus.</textarea>
// </div>
//
// Styleguide 3.1.2

// Select dropdown - add icon here
//
// default - default state
// .is-invalid - validation failed state
//
// markup:
// <div class="form-group">
//     <label for="inputState">Label</label>
//     <select id="inputState" class="form-control {$modifiers}">
//         <option disabled selected hidden>Select</option>
//         <option>Option</option>
//         <option>Option</option>
//     </select>
//     <div class="invalid-feedback">
//         Helper message
//     </div>
// </div>
//
// Styleguide 3.1.3

select.form-control {
    padding-right: 2rem;

    background-image: linear-gradient(45deg, transparent 50%, theme-color('grey-shade-1') 50%),
    linear-gradient(135deg, theme-color('grey-shade-1') 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position: calc(100% - (#{$input-padding-x} + 5px)) center,
    calc(100% - #{$input-padding-x}) center;
    background-size: 5px 5px,
    5px 5px;

    -webkit-appearance: none;
    -moz-appearance: none;
}

// Checkboxes
//
// default - default state
// disabled - disabled state
// checked - checked state
//
// markup:
// <div class="custom-control custom-checkbox">
//     <input type="checkbox" class="custom-control-input" id="customCheck1" {$modifiers}>
//     <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
// </div>
//
// Styleguide 3.1.4

.custom-control {
    padding-left: 1.5rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url('/assets/img/icon-tick.svg');
}

.custom-control-label {
    cursor: pointer;
    &:hover::before {
        border-color: theme-color('grey-shade-1');
    }
}

// Boxed Checkboxes
//
// default - default state
// disabled - disabled state
// checked - checked state
//
// markup:
// <div class="custom-control-box">
//     <div class="custom-control custom-checkbox">
//         <input type="checkbox" class="custom-control-input" id="customCheck1" {$modifiers}>
//         <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
//     </div>
// </div>
//
// Styleguide 3.1.5

.custom-control-box {
    display: inline-block;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    background-color: theme-color('grey-shade-4');
    border: 2px solid theme-color('grey-shade-3');
    border-radius: 0.1875rem;
}

// Boxed Checkboxes Inline
//
// markup:
// <div class="input-group input-group-boxes">
//     <div class="custom-control-box">
//         <div class="custom-control custom-checkbox">
//             <input type="checkbox" class="custom-control-input" id="customCheck1">
//             <label class="custom-control-label" for="customCheck1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
//         </div>
//     </div>
//     <div class="custom-control-box">
//         <div class="custom-control custom-checkbox">
//             <input type="checkbox" class="custom-control-input" id="customCheck2">
//             <label class="custom-control-label" for="customCheck2">Lorem ipsum</label>
//         </div>
//     </div>
//     <div class="custom-control-box">
//         <div class="custom-control custom-checkbox">
//             <input type="checkbox" class="custom-control-input" id="customCheck3">
//             <label class="custom-control-label" for="customCheck3">Lorem ipsum dolor</label>
//         </div>
//     </div>
//     <div class="custom-control-box">
//         <div class="custom-control custom-checkbox">
//             <input type="checkbox" class="custom-control-input" id="customCheck4">
//             <label class="custom-control-label" for="customCheck4">Lorem ipsum</label>
//         </div>
//     </div>
//     <div class="custom-control-box">
//         <div class="custom-control custom-checkbox">
//             <input type="checkbox" class="custom-control-input" id="customCheck2">
//             <label class="custom-control-label" for="customCheck2">Lorem ipsum</label>
//         </div>
//     </div>
//     <div class="custom-control-box">
//         <div class="custom-control custom-checkbox">
//             <input type="checkbox" class="custom-control-input" id="customCheck4">
//             <label class="custom-control-label" for="customCheck4">Lorem ipsum</label>
//         </div>
//     </div>
//     <div class="custom-control-box">
//         <div class="custom-control custom-checkbox">
//             <input type="checkbox" class="custom-control-input" id="customCheck3">
//             <label class="custom-control-label" for="customCheck3">Lorem ipsum dolor</label>
//         </div>
//     </div>
// </div>
//
// Styleguide 3.1.5.1

.input-group-boxes {
    width: calc(100% + 0.625rem);
    margin-left: -0.3125rem;
    margin-right: -0.3125rem;
    margin-top: -0.3125rem;
    margin-bottom: -0.3125rem;
}

.input-group-boxes .custom-control-box {
    margin: 0.3125rem 0.3125rem;
}

// Radio buttons
//
// default - default state
// disabled - disabled state
// checked - checked state
//
// markup:
// <div class="custom-control custom-radio">
//     <input type="radio" id="customRadio1" class="custom-control-input" {$modifiers}>
//     <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
// </div>
// <div class="custom-control custom-radio">
//     <input type="radio" id="customRadio2" class="custom-control-input" {$modifiers}>
//     <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
// </div>
//
// Styleguide 3.1.6

.custom-control-input[type='radio']:checked ~ .custom-control-label {
    &::before {
        border-color: $custom-control-indicator-border-color;
        background-color: theme-color('white');
        left: -1.5625rem;

    }
    &::after {
        top: 0.4375em;
        left: -1.3125rem;

        width: .625rem;
        height: .625rem;

        border-radius: 100%;
        background-color: theme-color('green');
        background-image: none;
    }
}

// Boxed Radio buttons Inline
//
// markup:
// <div class="input-group input-group-boxes">
//     <div class="custom-control-box">
//         <div class="custom-control custom-radio">
//             <input type="radio" id="customBoxedRadio1" class="custom-control-input">
//             <label class="custom-control-label" for="customBoxedRadio1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
//         </div>
//     </div>
//     <div class="custom-control-box">
//         <div class="custom-control custom-radio">
//             <input type="radio" id="customBoxedRadio2" class="custom-control-input">
//             <label class="custom-control-label" for="customBoxedRadio2">Lorem ipsum dolor</label>
//         </div>
//     </div>
//     <div class="custom-control-box">
//         <div class="custom-control custom-radio">
//             <input type="radio" id="customBoxedRadio3" class="custom-control-input">
//             <label class="custom-control-label" for="customBoxedRadio3">Lorem ipsum dolor</label>
//         </div>
//     </div>
//     <div class="custom-control-box">
//         <div class="custom-control custom-radio">
//             <input type="radio" id="customBoxedRadio4" class="custom-control-input">
//             <label class="custom-control-label" for="customBoxedRadio4">Lorem ipsum dolor</label>
//         </div>
//     </div>
//     <div class="custom-control-box">
//         <div class="custom-control custom-radio">
//             <input type="radio" id="customBoxedRadio5" class="custom-control-input">
//             <label class="custom-control-label" for="customBoxedRadio5">Lorem ipsum</label>
//         </div>
//     </div>
//     <div class="custom-control-box">
//         <div class="custom-control custom-radio">
//             <input type="radio" id="customBoxedRadio6" class="custom-control-input">
//             <label class="custom-control-label" for="customBoxedRadio6">Lorem ipsum dolor sit</label>
//         </div>
//     </div>
//     <div class="custom-control-box">
//         <div class="custom-control custom-radio">
//             <input type="radio" id="customBoxedRadio7" class="custom-control-input">
//             <label class="custom-control-label" for="customBoxedRadio7">Lorem ipsum dolor</label>
//         </div>
//     </div>
// </div>
//
// Styleguide 3.1.6.1
