.c-header {
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.c-header__logo {
    
}

.c-header__logo {

}
